.button {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &-text {
    font-size: 10px;
    color: $color_white;
    background-color: $color_button;
    transition: background-color 1s;
    border: 0;
    border-radius: 30px;
    padding: 12px 68px;

    &:hover {
      background-image: linear-gradient($color_slate_blue, $color_royal_blue);
    }
  }
}
