// background
$color_slate_blue: hsl(251, 100%, 63%);
$color_royal_blue: hsl(241, 81%, 54%);

// cicle
$color_violet-blue: hsla(256, 72%, 46%, 1);
$color_persian-blue: hsla(241, 72%, 46%, 0);

// summary
$color-reaction: hsl(6, 100%, 98%);
$color-memory: hsl(42, 100%, 97%); //hsl(24, 100%, 98%)
$color-verbal: hsl(173, 53%, 97%);
$color-visual: hsl(240, 71%, 97%);

//text
$color_left-card-title: hsl(258, 100%, 85%);
$color_ration-blue: hsl(246, 100%, 75%);
$color_footer-text: hsl(239, 73%, 81%);
$color_white: hsl(0, 0%, 100%);
$color_right-card-title: hsl(228, 16%, 30%);

// box shadow
$color_box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

// summary worth title
$color-title_reaction: hsl(359, 87%, 72%);
$color-title_memory: hsl(40, 99%, 64%);
$color-title_verbal: hsl(164, 46%, 60%);
$color-title_visual: hsl(236, 55%, 55%);

// summary worth ration
$color_ratio-number: hsl(234, 12%, 68%);
$color_ratio-strong: hsl(229, 16%, 26%);

// button color
$color_button: hsl(224, 30%, 27%);
